body{font-family:Arial}
.libro{width:100px;height:190px;float:left;margin:5px;font-size:0.7em}
.logo{font-size:2em;color:blue;margin-right:10px}
.menu {width:40px;background:#ddd;margin:6px;padding:7px}
.menu>a{text-decoration:none}
a:visited{text-decoration:none}
.error {padding:10px;background:#a00;color:white;margin:auto}
.fielderror {color:red;font-size:12px}
.button {margin:3px}
.button>a,.button>a:visited{text-decoration:none}
.field {display:block;margin:3px;}
.field>label{display:block;padding:4px;color:blue}
.field>input{display:block;padding:4px;font-size:1.1em}
.field>select{display:block;padding:4px;font-size:1.1em}
.nav{padding:3px;background-color:#eee;width:auto}
.well {
    background:#dee;
}