body{font-family:Verdana}
.clear{clear:left}
.mesgrande{width:500px;height:400px;margin:auto}
.mespeq{width:300px;height:200px;float:left;margin:5px}
.calmes{width:100%;height:100%}
.titmes{width:92%;height:20px;background:#ddddff;text-align:center}
.dia{width:12%;height:13%;margin:0.5% 0.5% 0px 0px;padding:0.4%;border:1px;
	float:left;text-align:center;font-size:1.1em;background:#FFFFAA }
.ocupado{color:red}
.dia a{text-decoration:none}
.dia a:visited{text-decoration:none}
.vacio {background:#eee}
.titdia{background:#eee;font-size:0.9em;height:20px}
.formcita {margin:auto;width:500px;border:1px solid;padding:10px}