body {
    background-color: rgb(252, 236, 238);
}
a {
    text-decoration: none !important;
    color: black;
    padding: 0 5px 0 5px;
}
a:hover {
    color: white;
}

.fa-warehouse {
    color: white;
}
.footer {
    position: relative;
    bottom: 0;
    height: 30px;
    line-height: 30px;
}
.text-right {
    text-align: right;
}

.chk {
    height:15px;
    width:15px;
}
.card {
    margin:4px;padding:3px;border-radius:10px
}
.error{
    color:red
}